<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/checkout.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="checkout-bg">
      <div class="checkout-box">
        <main class="checkout">
          <div>
            <h1 class="form-title">주문/결제</h1>
          </div>
          <form class="form" action="/checkout/<%= order.orderId %>" method="POST">
            <h2 class="form-sub-title">주문자 정보</h2>
            <div class="form-group">
              <label for="userId" class="form-label">주문자 ID</label>
              <input
                readonly
                type="text"
                name="userId"
                id="userId"
                value="<%= order.userId %>"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="email" class="form-label"
                >수신 받을 이메일</label
              >
              <div class="input-box">
                <input
                  required
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="이메일 입력"
                />
              </div>
            </div>
            <div class="form-check-group align-right">
              <input type='hidden' value='false' name='isAllowedPgMail' id="isAllowedPgMailHidden">
              <input
                type="checkbox"
                class="form-check-input"
                id="isAllowedPgMail"
                name="isAllowedPgMail"
                value="true"
              />
              <label for="isAllowedPgMail" class="form-check-label"
                >이메일로 결제 내역을 받습니다.</label
              >
            </div>

            <div class="divider"></div>

            <h2 class="form-sub-title">상품 정보</h2>
            <div class="form-group">
              <label for="inputEmail1" class="form-label">상품 명칭</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail1"
                value="<%= order.productName %>"
                readonly
              />
            </div>

            <div class="divider"></div>

            <h2 class="form-sub-title">결제 금액</h2>
            <div class="form-group">
              <label for="currency" class="form-label">결제 통화</label>
              <input
                readonly
                type="text"
                class="form-control"
                id="currency"
                value="<%= order.currency %>"
              />
            </div>
            <div class="form-group">
              <label for="taxFreeAmount" class="form-label">면세 금액</label>
              <input
                type="number"
                class="form-control"
                id="taxFreeAmount"
                name="taxFreeAmount"
                value="<%= order.taxFreeAmount %>"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="amount" class="form-label">결제 금액</label>
              <input
                type="number"
                class="form-control"
                value="<%= order.amount %>"
                name="amount"
                id="amount"
                readonly
              />
            </div>
            <div class="input-notice align-right">
              *VAT 포함 가격입니다. (면세 금액 제외)
            </div>

            <div class="divider"></div>

            <h2 class="form-sub-title">결제 수단</h2>
            <div class="form-radio-group">
              <input type="radio" class="form-radio-input" id="creditCard" name="paymentMethod" value="creditCard" />
              <label required for="creditCard" class="form-radio-label"
                >신용 카드</label
              >
            </div>

            <div class="divider"></div>

            <div class="form-check-group">
              <input
                required
                type="checkbox"
                class="form-check-input"
                id="order-check"
                name="order-check"
                value=true
              />
              <label for="order-check" class="form-check-label"
                >상품의 주문 내용을 확인하였습니다.</label
              >
            </div>

            <div class="form-check-group">
              <input
                required
                type="checkbox"
                class="form-check-input"
                id="service-check"
                name="service-check"
                value=true
              />
              <label for="service-check" class="form-check-label"
                >유료서비스 이용약관에 동의합니다.</label
              >
              <a
                target="popup"
                onclick="window.open('./checkout_fail.html','popup','width=600, height=600');"
                class="detail-popup"
              >
                자세히보기
              </a>
            </div>

            <div class="form-check-group">
              <input
                required
                type="checkbox"
                class="form-check-input"
                id="terms-check"
                name="terms-check"
                value=true
              />
              <label for="terms-check" class="form-check-label"
                >결제를 위한 개인정보 제공에 동의합니다.</label
              >
              <a
                target="popup"
                onclick="window.open('./checkout_success.html','popup','width=600, height=600');"
                class="detail-popup"
              >
                자세히보기
              </a>
            </div>

            <div class="pay-btn-box">
              <div class="pay-description">
                잠시 후 주문서창이 표시됩니다. <br />
                표시 되지 않으면 하단 버튼을 눌러주세요.
              </div>
              <button type="submit" class="primary-btn">결제하기</button>
            </div>
          </form>
        </main>
        <img
          src="https://cdn.zeplin.io/60b4513ed9fb1a1104419263/assets/FC0E948E-E32E-4BD0-AA73-EAE6450F20A8.svg"
          alt="receipt"
        />
      </div>
      <footer class="footer">
        <div class="footer_title">publ</div>
        <div class="footer_detail">
          상호명 : 키클롭스(주) | 소재지 : 서울특별시 성동구 뚝섬로317
          <br />
          사업자등록번호 : 115-87-00415 | 통신판매업번호 : 2019-서울성동-01388
        </div>
      </footer>
    </div>
  </body>
</html>
